/* Main settings */
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding-left: 0;
  padding-right: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} 
 У нормалізаторі modern-normalize за умовчанням
задано глобальний border-box.
Отже, якщо його підключено до проєкту,
то у своїх стилях box-sizing можна не вказувати.
Також зазвиччай є відступи в боредр 8 але нормалізаотр теж їх забирає */

/* Header */

.header {
  padding: 24px 156px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Logo WebStudio */

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #4d5ae5;
}

.logo-span {
  color: #2e2f42;
}

/* Navigation */

.navigation-list {
  margin-left: 76px;
  display: flex;
}

/* Все крім останьой силки буде мати відступ */
.navigation-list-item:not(:last-child) {
  margin-right: 40px;
}

.navigation-list-item-link {
  color: #2e2f42;
}

/* Contacts */

.contacts {
  margin-left: 332px;
}

.contacts-link {
  color: #2e2f42;
}

.contacts-link:not(:last-child) {
  margin-right: 40px;
}

/* Main Content */

/* Slogan */

.slogan {
  height: 600px;
  background-color: #2e2f42;
  padding-top: 191px;
  padding-bottom: 289px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slogan-header {
  max-width: 550px;
  max-height: 260px;
  text-align: center;
  color: #ffffff;
  font-size: 56px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.2;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.slogan-button {
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #ffffff;
  margin-top: 48px;
  border-radius: 8px;
  box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.395);
}

/* Goals Company */

.goals {
  padding-left: 136px;
  padding-top: 123px;
  padding-right: 136px;
  padding-bottom: 120px;
}

.goals-list {
  display: flex;
  gap: 24px;
}

.goals-list-item {
  display: flex;
  width: calc((100% - 48px) / 4);
  flex-direction: column;
}

.goals-headers {
  font-size: 20px;
  letter-spacing: 2px;
}

.goals-text {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

/* Team Company */

.team {
  background-color: #f4f4fd;
  height: 732px;
  padding-top: 120px;
}

.team-header {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
  text-align: center;
  color: #2e2f42;
}

.team-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.team-block {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);

  width: 264px;
  height: 380px;
  margin-top: 72px;
  background-color: #ffffff;
}

.team-block-img {
  height: 260px;
}

.team-name {
  margin-top: 32px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2%;
  color: #2e2f42;
}

.team-position {
  text-align: center;
  font-size: 16px;
  letter-spacing: 4%;
  color: #434455;
}

/* Our Portfolio */

.portfolio {
}

.portfolio-header {
  margin-top: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
  color: #2e2f42;
}

.portfolio-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  margin-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  justify-content: center;
  max-width: 1128px;
}

.portfolio-block {
  width: 360px;
  height: 420px;
  margin-bottom: 48px;
  /* margin-right: 10px; */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  background-color: #ffffff; /* чтобы тень была видна */
}

/* .portfolio-block:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
  margin-bottom: 120px;
}

.portfolio-block:not(:last-child):not(:nth-child(3)) {
  margin-right: 20px;
} */

.img-portfolio {
  width: 360px;
  height: 300px;
}

.header-name {
  margin-top: 32px;
  margin-left: 16px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2%;
  color: #2e2f42;
}

.head-text {
  margin-left: 16px;
  font-size: 16px;
  letter-spacing: 4%;
  color: #434455;
}

/* Footer */

.footer {
  padding-left: 156px;
  padding-top: 100px;
  height: 312px;
  background-color: #2e2f42;
  color: #ffffff;
}

/* Logo */
.logo-span-two {
  color: #ffffff;
}

/* Logo text */

.logo-text {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  max-width: 30ch; /* приблизно ширина 20 символів */
  word-wrap: break-word; /* переносити слово, якщо не поміщається */
  white-space: normal; /* дозволяє переносити текст */
}
